<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
 <!-- BEGIN META SECTION -->
    <meta charset="utf-8" />
    <title>Security Alarm System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="description" name="Strong and save protect for your home properity." />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="../../../resources/css/icons/icons.min.css" rel="stylesheet" th:href="@{/resources/css/icons/icons.min.css}" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
    <link href="../../../resources/css/plugins.min.css" rel="stylesheet" th:href="@{/resources/css/plugins.min.css}" />
    <link href="../../../resources/css/style.min.css" rel="stylesheet" th:href="@{/resources/css/style.min.css}" />
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="../../../resources/css/animate-custom.css" rel="stylesheet" th:href="@{/resources/css/animate-custom.css}" />
    <!-- END PAGE LEVEL STYLE -->
    <script src="../../../resources/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js" th:href="@{/resources/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
</head>
<body></body>
</html>